<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias</title>
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
</head>

<body>
    <%- include('navbar') %><br><br>
        <div class="container mt-5" style="text-align: center; margin-top: 180px;">
            <div class="page-inner">
                <div class="d-flex align-items-center"><br><br>
                    <a href="/sp_admin/vista_principal" class="breadcrumb-link">Vista Principal</a>
                    <span class="mx-2">/</span>
                    <a href="/sp_admin/materia" class="breadcrumb-link">Autorización de Materias</a>
                    <span class="mx-2">/</span>
                    <span class="breadcrumb-current">Gestión de Materias</span>
                </div>
                <div class="container mt-5">
                    <div class="row">
                        <!-- Tarjeta flotante con tabla -->
                        <div class="card shadow">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h5 class="card-title">Lista de Materias</h5>
                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#agregarModal">Agregar Materia</button>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover" id="personTable">
                                        <thead>
                                            <tr>
                                                <th>IdGrupoMateria</th>
                                                <th>IdGrupo</th>
                                                <th>IdMateria</th>
                                                <th>Tipo</th>  
                                                <th>Fecha</th>
                                                <th>IdProfesor</th>
                                                <th>Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>1° A</td>
                                                <td>Matemáticas</td>
                                                <td>Ordinaria</td> 
                                                <td>2024-11-01</td>
                                                <th>1</th>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            id="dropdownMenu2" data-bs-toggle="dropdown"
                                                            aria-expanded="false">
                                                            <i class="bi bi-three-dots-vertical"></i>
                                                        </button>
                                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                            <li>
                                                                <button class="dropdown-item" data-bs-toggle="modal"
                                                                    data-bs-target="#editarModal">
                                                                    <i class="bi bi-pencil"></i> Editar
                                                                </button>
                                                            </li>
                                                            <li>
                                                                <button class="dropdown-item" data-bs-toggle="modal"
                                                                    data-bs-target="#eliminarModal">
                                                                    <i class="bi bi-trash"></i> Eliminar
                                                                </button>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <!-- Modal Agregar Materia -->
                <div class="modal fade" id="agregarModal" tabindex="-1" aria-labelledby="agregarModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="agregarModalLabel">Agregar Materia</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/sp_admin/agregar_materia" method="POST">
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="idGrupoMateria" class="form-label">IdGrupoMateria</label>
                                        <input type="text" class="form-control" id="idGrupoMateria"
                                            name="idGrupoMateria" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="idGrupo" class="form-label">IdGrupo</label>
                                        <input type="text" class="form-control" id="idGrupo" name="idGrupo" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="idMateria" class="form-label">IdMateria</label>
                                        <input type="text" class="form-control" id="idMateria" name="idMateria"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="tipo" class="form-label">Tipo</label>
                                        <select class="form-select" id="tipo" name="tipo" required>
                                            <option value="Ordinaria" selected>Ordinaria</option>
                                            <option value="Extraordinaria">Extraordinaria</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="fecha" class="form-label">Fecha</label>
                                        <input type="date" class="form-control" id="fecha" name="fecha" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="IdProfesor" class="form-label">IdProfesor</label>
                                        <input type="text" class="form-control" id="IdProfesor" name="IdProfesor"
                                            required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Editar Materia -->
                <div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editarModalLabel">Editar Materia</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/sp_admin/editar_materia" method="POST">
                                <div class="modal-body">
                                    <input type="hidden" id="editIdGrupoMateria" name="idGrupoMateria">
                                    <div class="mb-3">
                                        <label for="editIdGrupo" class="form-label">IdGrupo</label>
                                        <input type="text" class="form-control" id="editIdGrupo" name="idGrupo"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editIdMateria" class="form-label">IdMateria</label>
                                        <input type="text" class="form-control" id="editIdMateria" name="idMateria"
                                            required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editTipo" class="form-label">Tipo</label>
                                        <select class="form-select" id="editTipo" name="tipo" required>
                                            <option value="Ordinaria">Ordinaria</option>
                                            <option value="Extraordinaria">Extraordinaria</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editFecha" class="form-label">Fecha</label>
                                        <input type="date" class="form-control" id="editFecha" name="fecha" required>
                                    </div>
                                    <div class="mb-3">
                                        <label for="editIdProfesor" class="form-label">IdProfesor</label>
                                        <input type="text" class="form-control" id="editIdProfesor" name="idProfesor" required>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Modal Eliminar Materia -->
                <div class="modal fade" id="eliminarModal" tabindex="-1" aria-labelledby="eliminarModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="eliminarModalLabel">Eliminar Materia</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form action="/sp_admin/eliminar_materia" method="POST">
                                <div class="modal-body">
                                    <input type="hidden" id="deleteIdGrupoMateria" name="idGrupoMateria">
                                    <p>¿Estás seguro de que deseas eliminar esta materia?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <%- include('footer') %>
</body>

</html>